:root {
	-webkit-tap-highlight-color: transparent;
	font-family: "Roboto", "Arial", sans-serif;
}

*[hidden=""] {
	display: none !important;
}

body {
	margin: 0;
	padding: 0;
}

.navBarMargin {
	margin-top: 66px;
}

.navBarMiniMargin {
	margin-top: 50px;
}

.mdi {
	font-size: 24px;
}

.lightRipple {
	@include lightRipple;
}

.darkRipple {
	@include darkRipple;
}

/* Bootstrap (https://github.com/twbs/bootstrap) */
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* -------------------------------------------------- */