.page {
	background-color: #FFFFFF;
	height: 100%;
	left: 0;
	overflow-y: auto;
	position: fixed;
	top: calc(100% + 64px);
	transition: .3s ease;
	width: 100%;
	z-index: 100;

	&.opened {
		top: 0;
	}
	
	&:not(.opened) {
		.navBar.floating {
			top: calc(100% + 64px);

			&.indented {
				display: none;
			}
		}
	}
}